.fonts {
    font-family: 'Carlito',sans-serif;
}

.position {
    bottom: 60px;
    left: 250px;
}

.position-2 {
    bottom: 10px;
    left: 115px;
}

.button {
    background: linear-gradient(to right, #8ba7ee 0%, #ca84f6 100%);
}

.z-1 {
    z-index: 1;
}